<a href="https://colab.research.google.com/github/ninomatitanam/KKA-X-Semester-1-Naufal/blob/main/1_Fungsi%20print%20Naufal%20x1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nama = "Nino"
BB = 66
TB = 1.56
print("nama pengguna :",nama)
print("BB penguna :",BB)
print("TB penguna :",TB)

nama pengguna : Nino
BB penguna : 66
TB penguna : 1.56

In [ ]:
print("Bu Shinta Berkata, "Berikut adalah daftar piket harian kelas X.2 yang disimpan di file D:\\Man Demak\\Jadwal Piket.")
print("\n")
print("Senin\tSelasa\tRabu")
print("Jielo\tHasbi\tNaufal")
print("Azam\tA'inun\tNurul")

Bu Shinta Berkata, "Berikut adalah daftar piket harian kelas X.2 yang disimpan di file D:\Man Demak\Jadwal Piket.


Senin	Selasa	Rabu
Jielo	Hasbi	Naufal
Azam	A'inun	Nurul

In [ ]:
"""
latihan

nama_siswa_3 = "Kinan"
nama_siswa = "azka"

In [ ]:
print("Nama saya adalah",nama,". dan BB saya ",BB," KG.")

NameError: name 'nama_pengguna' is not defined

In [ ]:
nama_penguna = input("masukan nama anda")
BB_penguna = input("masukan BB anda")
TB_penguna = input("masukan TB anda")

masukan nama andanino
masukan BB anda100
masukan TB anda1649